@import "tailwindcss";

:root {
  --background: #e0f2e9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e0f2e9; 
    --foreground: #171717; 
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
