@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

.header {
  font-family: 'Manrope', sans-serif;
  background: #ffffff;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #e0f2e9;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
}

.navLinks li a {
  text-decoration: none;
  color: #064420;
  font-size: 1.1rem;
  font-weight: bold;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Style du bouton Sign In */
.signIn {
  background-color: #064420;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.signIn:hover {
  background-color: #052e1b;
}

/* Interrupteur switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #064420;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Mode sans style */
.no-style * {
  all: unset !important;
}
